* {
    margin: 0;
    padding: 0;                         
}       

#box {
    border: 2px solid black;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}

#box1 {
    height: 50px;
    width: 50px;

    color: white;
    background-color: blue;
    grid-row:2/2;
    grid-column: 2/2;
}

#box2 {
    height: 50px;
    width: 50px;
    color: white;
    background-color:teal;
    grid-row: 1/2;
    grid-column: 2/2;

}

#box3 {
    height: 50px;
    width: 50px;
    color: white;
    background-color: violet;

}

#box4 {
    height: 50px;
    width: 50px;
    color: white;
    background-color: tomato;
    transition-property: all;
    transition-duration: 2s;
}

#box4:hover {
    height: 200px;
    width: 300px;
    color: white;
    font-size: 200px;
    background-color: magenta;

}





